<h1>README</h1>
<p>A map-based note application.</p>
<p>Environment:</p>
<ul>
  <li>
    <p>Ruby-2.4.0</p>
  </li>
  <li>
    <p>Rails 5.1.1</p>
  </li>
  <li>
    <p><a href='https://github.com/axyjo/leaflet-rails/'>leaflet-rails</a></p>
  </li>
  <li>
    <p>Mysql 5.7.18</p>
  </li>
</ul>