<footer class="footer">
  <small>
    Powered by <a href="http://www.railstutorial.org/">Ruby on Rails </a>
    and <a href="http://leafletjs.com/">Leafletjs.</a>
  </small>
  <nav>
    <ul>

    </ul>
  </nav>
</footer>